[Unit]
Description=Lightening Corrector
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/lightening-corrector
ExecStart=/usr/bin/python3 -u lightning.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
